/*
$primary-color: #FAED26
$secondary-color: rgb(186,190,212)
$text: rgb(201,201,201)
$orange-color: #9B786F
$black: rgb(25,25,25)
*/
.text-ageei {
  color: rgb(186,190,212);
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h2 {
  font-size: 100pt;
}
nav {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none;
}
footer {
  background-color: rgb(15,15,15) !important;
}
#navbar {
  transition: 250ms ease-in-out;
}
.nav-container {
  width: 80%;
  margin: 0 auto;
}
#root {
  min-height: 100%;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
.icon {
  max-height: 20px !important;
  max-width: 20px !important;
  margin-right: 5px;
}
.img-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 250px;
  max-height: 350px;
}
.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail-wrapper {
  width: 100%;
  height: 350px;
}
.centered {
  text-align: center;
}
.logo {
  max-width: 50px;
  vertical-align: middle;
}
a {
  color: inherit;
}
a:hover {
  color: rgb(186,190,212);
}


form {
  padding: 20px;
  margin-top: 64px;
}

form button, form h5 {
  margin: 20px 0px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #FAED26;
  box-shadow: none;
}
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + label {
  cursor: pointer;
}
.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

input#image {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}
label.post-image {
  width: 100px;
  height: 40px;
  padding: 10 10;
  text-align: center;
  background: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.relative {
  position: relative
}
.user-choice {
  position: absolute;
  z-index: 999;
  display: none;
  right: 0px;
  min-width: 150px;
  border-radius: 0px 0px 15px 15px
}
.user-choice li {
  text-align: right;
  float: none !important;
  display: block !important;
}

.mobile {
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
  margin-right: 16px;
}

.mobile-menu {
  position: absolute;
  z-index: 999;
  display: none;
  right: 0px;
  top: 100%;
  min-width: 150px;
  border-radius: 0px 0px 15px 15px
}

.mobile-menu li {
  text-align: right;
  float: none !important;
  display: block !important;
}

@media only screen and (min-width: 601px) {
  nav i {
    height: 64px !important;
    line-height: 64px !important;
  }
}

/** FOOTER CSS **/
footer a {
  color: inherit;
}
footer a:hover {
  color: rgb(186,190,212)
}


/** CSS FOR LANDING PAGE **/
.landing {
  margin-top: -64px;
  background-image: url('/img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.landing-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
  max-width: 30vw;
}
.landing-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
}
.landing-ellipse {
  position: absolute;
  margin-left: -50%;
  margin-top: -40%;
  z-index: -1;
  width: 250px;
  max-width: 30vw;
  max-height: 30vw;
  height: 250px;
  background-color: none;
  border: 10pt solid rgb(186,190,212);
  border-radius: 50%;
}
.landing-title {
  position: absolute;
  left: 10%;
  top: 15%;
  color: rgb(201,201,201);
  opacity: 0.6;
}
.landing-title p {
  font-size: 20pt;
  line-height: 2rem;
}
.landing-slack {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: rgb(201,201,201);
  opacity: 0.6;
}
.landing-fractal {
  position: absolute;
  bottom: 35%;
  right: 10%;
  color: rgb(201,201,201);
  opacity: 0.6;
}
.landing-visit {
  cursor: pointer;
  position: absolute;
  left: 10%;
  bottom: 5%;
  min-width: 200px;
  color: rgb(201,201,201);
}
.landing-visit div {
  position: relative;
  padding-left: 75px;
  height: 50px;
  line-height: 50px;
}
.landing-visit .ellipse {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 0px;
  height: 0px;
  border: none;
  border-radius: 50%;
  margin-right: 15px;
  transition: 300ms ease-in-out;
}
.landing-visit:hover .ellipse {
  border: 3pt solid rgb(186,190,212);
  width: 50px;
  height: 50px;
}

/**********************************/
#section1 {
  padding: 64px 0px;
}