@media only screen and (max-width: 600px) {
    .landing h2, .landing h3, .landing h4 {
        font-size: 2rem;
    }
    .landing p {
        font-size: 1rem;
    }
    .landing-visit {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
    .landing-visit div {
        padding-left: 0px !important;
        text-align: center;
    }
    .landing-visit .ellipse {
        left: 50%;
        transform: translate(-50%,-25%);
    }
    .landing-visit:hover .ellipse {
        width: 75px;
        height: 75px;
    }

    .landing-slack, .landing-title {
        text-align: left;
    }
    .landing-fractal {
        text-align: right;
    }
}

@media only screen and (min-width: 601px) {
    
}


@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
    
}